/* goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
      
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
      
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
      
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
      
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
      
:root{
    --main-color: #d90429 ;
    --text-color: #020102 ;
    --bg-color: #fff ;
}
/* Custom scroll bar */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
section{
    padding: 4rem 0 2rem;
}

img{
    width: 100%;
}
body{
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
header.shadow{
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15,54,55 / 10%);
    transition: 0.5s ease;
}
header.shadow #search-icon{
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.logo span{
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 2rem;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
/* #search-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--bg-color);
}
.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15,54,55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}
.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
} */
.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(img/Background-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}
.home-text{
    padding-left: 130px;
}
.home-text h1{
    font-size: 2.4rem;
}
.home-text span{
    color: var(--main-color);
}
.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}
.btn:hover{
    background: #fd052f;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}
.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}
.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.cars-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.cars-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: var(--bg-color);
    padding: 8px;
    border-radius: 0.5rem;
}
.cars-container .box:hover h2{
    background: var(--main-color);
    color: var(--bg-color);
}
.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
.about-img{
    flex: 1 1 21rem;
}
.about-text{
    flex: 1 1 21rem;
}
.about-text span{
    font-weight: 500;
    color: var(--main-color);
}
.about-text h2{
    font-size: 1.7rem;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}
.parts-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.parts-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 0.5rem;
}
.parts-container .box img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}
.parts-container .box h3{
    font-size: 1.1rem;
    font-weight: 600;
}
.parts-container .box span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}
.parts-container .box .bx{
    color: var(--main-color);
    margin: 0.8rem 0;
}
.parts-container .box .btn{
    max-width: 120px;
}
.parts-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
}
.parts-container .box .details:hover{
    color: var(--main-color);
    text-decoration: underline;
} 
.blog-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.blog-container .box{
    flex: 1 1 13rem;
    padding: 20px;
}
.blog-container .box:hover{
    background: #f6f6f6;
}
.blog-container .box span{
    font-size: 0.8rem;
    color: var(--main-color);
}
.blog-container h3{
    font-size: 1.2rem;
}
.blog-container .box p{
    font-size: 0.938rem;
    margin: 4px 1;
}
.blog-container .box .blog-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
}
.blog-container .box .blog-btn .bx{
   font-size: 20px;
}
.blog-container .box .blog-btn:hover{
    color: var(--main-color);
    column-gap: 0.7rem;
    transition: 0.4s;
}
.footer{
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}
.social a:hover{
    color: var(--main-color);
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a,
.footer-box p{
    color: #818181;
    margin-bottom: 10px;
}
.footer-box a:hover{
    color: var(--main-color);

}
.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}
.sub_block.new_dex {
    background-position: center center;
    background-repeat: no-repeat;
    height: 631px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .sub_block.new_dex .form_sub {
    background-color: var(--bg-color);
    width: 670px;
    height: 327px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .sub_block.new_dex .form_sub .title {
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.875;
   }
   .sub_block.new_dex .form_sub .inputs {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
   }
   .sub_block.new_dex .form_sub .inputs input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 247, 244);
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.2);
    left: 454px;
    top: 4158px;
    width: 251px;
    height: 30px;
    outline: none;
    color: #fff;
    padding: 10px;
   }
   .sub_block.new_dex .form_sub button {
    border-radius: 22px;
    background-color: var(--main-color);
    box-shadow: 0px 6px 40px 0px var(--main-color);
    margin-top: 20px;
    width: 232px;
    height: 44px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
   }
   .nav-menu {
    position: fixed;
    top: 30px;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 9999;
   }
   #burger {
    position: relative;
    width: 31px;
    height: 25px;
   }
   #burger span {position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 5px;
    background-color: #939ea2;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
   }
   #burger span:first-child {
    top: 0;
    bottom: auto;
   }
   #burger span:last-child {
    bottom: 0;
    top: auto;
   }
   .nav-menu.active #burger span {
    top: 0;
    bottom: 0;
    -moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);
   }
   .nav-menu.active #burger span:last-child {
    -moz-transform: rotate(-45deg); /* Для Firefox */
    -ms-transform: rotate(-45deg); /* Для IE */
    -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-45deg); /* Для Opera */
    transform: rotate(-45deg);
   }
   .menu {
    padding: 10px;
    list-style: none;
    margin: 0;
    background-color: #fff;
    position: relative;
    left: -100%;
   }
   .menu a {
    color: rgb(39, 61, 70);
    text-decoration: none;
   }
   .nav-menu.active .menu {
    left: 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
  
}

/* Стиль для меток */
form .form-label {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

/* Стиль для полей ввода */
form .form-control {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

/* Стиль для кнопки подтверждения */
form .btn-primary {
    background-color: var(--main-color);
    border: none;
    padding: 0.5rem 1rem;
    color: var(--main-color)
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

form .btn-primary:hover {
    background-color: #902626;
}

/* Дополнительные стили для улучшения доступа */
form .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


